.semi-transparent {
  background-color: rgba(255, 255, 255, 0.8) !important; /* 白色の80%透明 */
}

.custom-sheet {
  border: 3px solid #ccc !important; /* 枠線 */
  border-radius: 10px !important; /* 角を丸くする */
  padding: 5px; /* 内側の余白 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影を追加 */
  background-image: url('@/assets/image/background_white.jpg') !important; /* 画像のパスを指定 */
  background-size: cover !important; /* 水平方向に50px、垂直方向に20pxオフセット */
  background-position: center !important; /* 画像を中央に配置 */

}


/*background-image: url('@/assets/image/paper.png') !important; */ /* 画像のパスを指定 */
/*background-position: -30px -30px !important; */ /* 水平方向に50px、垂直方向に20pxオフセット */
