.semi-transparent {
  background-color: rgba(255, 255, 255, 0.8) !important; /* 白色の80%透明 */
}

.custom-sheet {
  border: 3px solid #ccc !important; /* 枠線 */
  border-radius: 10px !important; /* 角を丸くする */
  padding: 20px; /* 内側の余白 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影を追加 */
}

